# npm debugging logs
npm-debug.log*

# project dependencies
node_modules

# OSX folder attributes
.DS_Store

# temporary files
*.tmp
*~

*.bak

*.log

# ES6 files in the below folders should be ignored
dist/
public/dist/